.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E5E5E5;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}
.Sign--up{
  margin: auto;
  width: 40%;
}
p{
  margin: .5rem 0;
}
input, textarea{
  margin: .5rem 0;
  border: none;
  background: transparent;
  width: 70%;
}
textarea{
  border-bottom: 0.3px solid #000000;
  width: 100%;
}
input:focus, input:active{
  outline: none;
}
button{
  padding: .5rem 1rem;
  border-radius: 16px;
  background-color: #000000;
  color: #E5E5E5;
  cursor: pointer;
  transition: background-color 1s;
  border: 1px solid transparent;
  width: 100%;
}
button:hover{
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}
h2{
  margin: .5em 0;
  font-size: 2.5rem;
}
.btn--div{
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}
.message{
    color: red;
    font-weight: 600;
    font-size: .8rem;
}
nav{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
}
img{
  filter: brightness(0);
}
@media screen and (max-width: 450px) {
  .Sign--up{
    width: 80%;
  }
}